/* people 카드 이미지(셀렉터는 네 HTML에 맞게 조정) */
.people-card .person-photo img,
.people .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  img.people-photo.howon {
    object-fit: cover;
    object-position: 50% 0% !important; /* 더 올리고 싶으면  -20% 같은 것도 가능 */
  }
}
